<div class="bkgrd">
    <h1 class="head1">Welcome to Consultant Appoinment</h1>
    <div class="buttons">
        <a class="btn btn-outline-primary btnbg" routerLinkActive="active" routerLink="/book">Book Appointment</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="btn btn-outline-primary btnbg" routerLinkActive="active" routerLink="/consult">Consultants</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="btn btn-outline-primary btnbg" routerLinkActive="active" routerLink="/profile">Check Profile</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<router-outlet></router-outlet>