<div class="bg">    
   <form [formGroup]="loginForm" (ngSubmit)="login()">
       <div class="container"> 
        <h1>Login Form </h1>  
           <label>User Email ID : </label>   
           <input formControlName ="email" type="text" placeholder="Enter Email ID" name="email" required>  
           <label>Password : </label>   
           <input formControlName = "password" type="password" placeholder="Enter Password" name="password" required>  
           <button type="submit" class="cancelbtn">Login</button>  
           <button type="button" class="cancelbtn"> Cancel</button><br>
           <input type="checkbox" checked="checked"> Remember me &nbsp;&nbsp;&nbsp;&nbsp;
           Forgot <a href="#"> password? </a>   
       </div>   
   </form>     
</div>
<router-outlet></router-outlet>