.bg{
    background: url(../../assets/login.jpg);
    background-size: 80%;
    padding-bottom: 16%;
}
    
form {   
        padding: 25px;
        border: 0px solid #f1f1f1;   
      }

input[type=text], input[type=password] {   
          width: 100%;   
          margin: 8px 0;  
          padding: 10px 10px;   
          display: inline-block;   
          border: 2px solid green;
          border-radius: 25px;   
          box-sizing: border-box;   
      }  
button:hover {   
          opacity: 0.7;   
      }   
    
.cancelbtn {   
          width: auto;   
          padding: 10px 18px;  
          margin: 10px 5px;
          border-radius: 25px;   
      }   
          
.container {   
          padding: 25px;   
          background-color: lightblue;  
          border-radius: 25px;
      } 

.cntr{
    text-align: center;
}