<div class="bgfeed">
    <div class="feed">
        <form action="#" method ="post">
            <table>
                <h1>Feedback Form</h1>
                <tr>
                    <td> <label>You can  rate your experience here</label><br><br>
                    <input type ="radio" name ="rate" value = "bad">Bad &nbsp;&nbsp;
                    <input type ="radio" name ="rate" value = "average">Average &nbsp;&nbsp;
                    <input type ="radio" name ="rate" value = "good">Good &nbsp;&nbsp;
                    <input type ="radio" name ="rate" value = "excellent">Excellent &nbsp;&nbsp;
                    </td>
                </tr>
                <br><br>
                <tr>
                    <td colspan="1">
                        <label>Fullname*</label>
                    <br/>
                    <input type ="text" name="Fullname" class="txt">
                    </td>
                    <br>
                    <td>
                        <label>Email*</label>
                    <br/>
                    <input type ="email" name="Email"  class="txt">
                    </td>
                </tr>
                <br><br>
                <tr>
                    <td>
                        <label>Phone Number*</label>
                    <br/>
                    <input type ="number" name="Phone"  class="txt">
                    </td>
                    <br>
                    <td>
                        <label>Age*</label>
                    <br/>
                    <input type ="number" name="Age"  class="txt">
                    </td>
                </tr>
                <br>
                <tr>
                    <td colspan="2">
                        <button type ="submit" >Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div style="width:40%; height:400px; float:right;">
        <h1 style="color: green;">Contact Us</h1>
        <h3 style="color: green">ITC E-Learning Building,<br>Guwahati</h3>
    <P><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7161.311662418527!2d91.756756!3d26.175336!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7676b5e2bf14f606!2sITC%20Limited!5e0!3m2!1sen!2sin!4v1646749950267!5m2!1sen!2sin" width="600" height="450" style="border:10px solid coral; border-radius: 5%;" allowfullscreen="" loading="lazy"></iframe></P>
    </div>
</div>
<router-outlet></router-outlet>