<div class="d-flex p-3 mb-3 border-bottom shadow-sm" style="background-color: aquamarine;">
  <h5 class="head"><a class="btn btn-outline-primary btnbg" routerLinkActive="active" routerLink="/home">E-Learning Consultancy</a></h5>
  <nav class="buttons">
      <a class="btn btn-outline-primary btnbg" routerLinkActive="active" routerLink="/home">Home</a>&nbsp;&nbsp;
      <a class="btn btn-outline-primary btnbg" routerLinkActive="active" routerLink="/login">Log In</a>&nbsp;&nbsp;
      <a class="btn btn-outline-primary btnbg" routerLinkActive="active" routerLink="/register">Sign Up</a>&nbsp;&nbsp;
      <a class="btn btn-outline-primary btnbg" routerLinkActive="active" routerLink="/contact">Contact</a>&nbsp;&nbsp;
      <a class="btn btn-outline-primary btnbg" routerLinkActive="active" routerLink="/team">The Team</a>&nbsp;&nbsp;
  </nav>
</div>
<router-outlet></router-outlet>