<div class="d-flex p-3 mb-3 border-bottom shadow-sm" style="background-color: aquamarine;">
  <h5 class="head">E-Learning Consultancy</h5>
  <nav class="buttons">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/login">Log In</a>
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/register">Sign Up</a>
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/contact">Contact</a>
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/team">The Team</a>
  </nav>
</div>
<router-outlet></router-outlet>